body {
    font-family: 'Gotham-Medium', Arial;
    color: #666464;
}

.error-message {
    color: #e4482f;
}

.modal {
    overflow-y: auto;
}

.selectable:focus, .selectable:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}